:root {
    --nav-height: 1px; /* Just a default value */
}

.tab-pane{
    height: calc(100vh - var(--nav-height));
    overflow: hidden;
    overflow-y: auto;
}

.pkm-img-url {
    width: 56px; 
}
.pkmn-evo-icon {
    width: 28px;
    margin: 1px;
}
.pkm-img-url, .pkmn-evo-icon {
    image-rendering: pixelated;
}

.grayscale-dark {
    filter: grayscale(1) brightness(0.7);
}

.evolution-family img {
    margin: 0 2px;
}

.selected-species {
    box-shadow: 0px 0px 0px 4px #ff0000;
}