.pkm-img-url {
    width: 56px; 
}
.pkmn-evo-icon {
    width: 28px;
    margin: 1px;
}
.pkm-img-url, .pkmn-evo-icon {
    image-rendering: pixelated;
}

.grayscale-dark {
    filter: grayscale(1) brightness(0.7);
}